<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <h1>Iniciar sesión</h1>
    <form id="loginForm" action="/api/sessions/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Iniciar sesión</button>
    </form>
    <br>
    <a href="/register">Registrate</a>
    <br>
    <br>
    <a href="/forgot-password">¿Olvidaste tu contraseña?</a>
    <br>
    <br>
    <a href="/api/sessions/github">Ingresar con GitHub</a>

    <script>
        // Manejar la respuesta del formulario
        document.getElementById('loginForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const email = document.getElementsByName('email')[0].value;
            const password = document.getElementsByName('password')[0].value;

            try {
                const response = await fetch('/api/sessions/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email, password }),
                });

                const data = await response.json();

                if (response.ok) {
                    // Redirigir a la URL proporcionada en redirectUrl
                    window.location.href = data.redirectUrl || '/';  // Puedes proporcionar una URL por defecto si no hay redirectUrl
                } else {
                    // Mostrar un mensaje de error o realizar acciones adicionales si el inicio de sesión falla
                    console.error(data.error || 'Error desconocido');
                }
            } catch (error) {
                console.error('Error al enviar la solicitud:', error);
            }
        });
    </script>
</body>

</html>