<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <h1>Iniciar sesión</h1>
    <form action="/api/sessions/login" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
        </div>
        <br>
        <button type="submit">Iniciar sesión</button>
    </form>
    <br>
    <a href="/register">Registrate</a>
    <br>
    <br>
    <a href="/api/sessions/github">Ingresar con GitHub</a>
</body>

</html>